.form-data {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 45px 0;
    width: 530px;
    min-height: 630px;
    background: linear-gradient(120deg,#2980b933,#880c0f30);
    border-radius: 10px;
    box-shadow: 7px 11px 15px rgb(0 0 0 / 20%);
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 6px 9px 5px rgb(189 189 189), 0 0 0 30px rgba(234, 238, 221, 1) inset  !important;
    }
    &__subtitle {
        text-align: center;
        font-size: 24px;
    }
    &__input {
        &_mg {
            margin-top: 30px;
        }
        input {
            margin-top: 15px;
            padding: 0 10px;
            width: 400px;
            height: 40px;
            background:#eef7dbab;
            border-radius: 10px;
            border: none;
            outline:none;
            font-size: 18px;
            box-shadow: 6px 9px 5px rgb(189 189 189);
        }
    }
    &__number {
        input {
            margin-top: 15px;
            padding: 0 10px;
            width: 400px;
            height: 40px;
            background:#eef7dbab;
            border-radius: 10px;
            border: none;
            outline:none;
            font-size: 18px;
            box-shadow: 6px 9px 5px rgb(189 189 189);
        }
    }
    &__email {
        input {
            margin-top: 15px;
            padding: 0 10px;
            width: 400px;
            height: 40px;
            background:#eef7dbab;
            border-radius: 10px;
            border: none;
            outline:none;
            font-size: 18px;
            box-shadow: 6px 9px 5px rgb(189 189 189);
        }
    }
    &__text {
        margin-bottom: 40px;
        textarea {
            height: 150px;
            width: 400px;
            resize: none;
            margin-top: 15px;
            padding: 5px 10px;
            background:#eef7dbab;
            border-radius: 10px;
            border: none;
            outline: none;
            font-size: 18px;
            box-shadow: 6px 9px 5px rgb(189 189 189);
        }
    }
    &__error {
        color: red;
        margin-left: 10px;
        font-size: 18px;
    }
}

