.title{
    font-weight: 700;
    font-size: 36px;
    &_centr{
        text-align: center;
    }
    &_another-pages{
        text-align: center;
        color: #fff;
        font-size: 60px;
    }
}