.group {
    margin-top: 150px;
    img {
        max-height: 600px;
        align-items: center;
        margin: 0 auto;
        margin-top: 70px;
        border-radius: 10px;
        box-shadow: 7px 11px 15px rgb(0 0 0 / 20%);
    }
    p:first-of-type {
        margin-top: 50px;
    }
    p {
        margin-top: 20px;
        font-size: 20px;
    }
    h3 {
        margin-top: 50px;
        font-size: 30px;
    }
    ul {
        margin-top: 20px;
        li {
            margin-top: 15px;
            list-style-type: none;
            &::before {
                content: "✔ ";
                color: rgb(252, 218, 0);
                font-size: 30px;
            }
        }
    }
}