@import '../style/libs/Fonts.scss';
@import '../style/libs/Slick.scss';
@import '../style/libs/Reset.scss';
@import '../style/variables/Button.scss';
@import '../style/variables/Icons.scss';
@import '../style/variables/Title.scss';
@import '../style/variables/Up.scss';
@import './MainImg.scss';

* {
    font-family: 'Gilroy', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}