.footer {
    padding: 100px 0;
    height: 545px;
    background-color: black;
    margin-top: 12%;
    &__line {
        background-color: rgb(72, 93, 255);
        height: 2px;
        &_white {
            background-color: #7BB9FC;
            height: 1px;
            margin-top: 80px;
        }
    }
    &__wrapper {
        margin-top: 90px;
        display: grid;
        grid-template-columns: 600px 535px auto;
        img{
            margin-left: 58px;
        }
    }
    &__info {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, auto));
        grid-template-rows: repeat(2 , auto);
        row-gap: 16px;
        position: relative;
    }
    &__address {
        grid-column: 1 / 3;
    }
    &__link {
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
        &:hover {
            color: rgb(72, 93, 255);
        }
    }
    &__icon{
        padding-right: 16px;
        color: rgb(72, 93, 255);
    }
    &__telegram {
        grid-column: 2 / 3;
        position: absolute;
        right: 19px;
        top: 35px;
    }
    &__social {
        display: flex;
        align-items:center;
        justify-content: space-between;
        margin-top: 43px;
        grid-column: 2 / 4;
        p{
            color:#fff;
            font-size: 18px;
        }
        a{
            color: rgb(72, 93, 255);
            cursor: pointer;
            width: 50px;
            height: 50px;
            text-decoration: none;
            text-align: center;
            border-radius: 50%;
            box-shadow: 0 0 14px 6px rgba(0, 0, 0, 0.10);
            position: relative;
            margin: 0 10px; 
            overflow: hidden;
            transition: transform 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            &::after{
                content:'';
                width: 100%;
                height: 100%;
                top: -90px;
                left: 0;
                background: #ffe4e4;
                position: absolute;
                transition: 0.5s;             
            }
            &:hover::after{
                top: 0;
            }
            &:hover{
                transform: translateY(-5px);
            }
        }
    }
    &__item {
        font-size: 30px;
        line-height: 50px;
        position: relative;
        z-index: 10;
        transition: color 0.5s;
    }
    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
        p{
            font-size: 14px;
            font-weight: 400;
            color: #fff;
        }
    }
    &__feedback {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 500px;
        position: relative;
        p {
            font-size: 18px;
            font-weight: 400;
        }
        input {
            width: 300px;
            padding: 16px 29px;
            background: #ffe4e4;
            border-radius: 36px;
            border: 0;
        }
        button {
            position: absolute;
            right: 12px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: rgb(72, 93, 255);
            border: 0;
            cursor: pointer;
            font-size: 18px;
        }
    }
    @media (max-width: 1200px) {
        &__wrapper {
            grid-template-columns: 250px 535px auto;
        }
    }
    @media (max-width: 992px) {
        &__wrapper {
            grid-template-columns: 200px 535px auto;
            img {
                margin-left: 0;
            }
        }
        &__social p {
            font-size: 16px;
        }
        &__feedback {
            width: 400px;
            & p {
                font-size: 14px;
            }
            & input {
                width: 260px;
                padding: 10px 29px;
            }
            & button {
                width: 30px;
                height: 30px;
            }
        }
    }
    @media (max-width: 767px) {
        padding: 40px 0 20px 0;
        height: auto;
        &__wrapper {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__info {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
        }
        &__telegram {
            right: auto;
            position: static;
        }
        &__social {
            flex-wrap: wrap;
            width: 275px;
            row-gap: 15px;
            p {
                display: none;
            }
        }
        &__navigation {
            flex-direction: column;
            row-gap: 15px;
            margin-top: 15px;
        }
        &__feedback {
            flex-direction: column;
            row-gap: 10px;
            width: 300px;
            button {
                right: 30px;
                top: 32px;
            }
        }
        &__line {
            margin-top: 30px;
        }
    }
}