.header-another-pages_about, .navigation_about{
    background: url('../../../resources/img/about/about-main.jpg') center (center/cover) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
